main p {
    font-family: 'Times New Roman', Times, serif;
  /*font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.1rem; */
    text-indent: 2rem;
    text-align: left;
}

#titulo-primeira-aula {
    text-decoration: underline;
    text-transform: uppercase;
}

#titulo-segunda-aula {
    letter-spacing: 0.7rem;
}